name: SourcePawn CI
on: [push]

jobs:
  ci:
    name: SourcePawn CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install SourceMod
        uses: KatsuteTF/Workflows/actions/setup-sourcepawn@main

      - name: Install TF2Attributes
        uses: KatsuteTF/Workflows/actions/curl@main
        with:
          url: https://raw.githubusercontent.com/FlaminSarge/tf2attributes/master/scripting/include/tf2attributes.inc
          file: tf2attributes.inc

      - name: Install RRM
        uses: KatsuteTF/Workflows/actions/curl@main
        with:
          url: https://raw.githubusercontent.com/KatsuteTF/RRM/main/addons/sourcemod/include/rrm.inc
          file: rrm.inc

      - name: Compile Plugin
        run: |
          spcomp -i ./ rrm_attribute_clip.sp
          spcomp -i ./ rrm_attribute_firing.sp
          spcomp -i ./ rrm_attribute_projectile.sp
          spcomp -i ./ rrm_attribute_spread.sp
          spcomp -i ./ rrm_bleed.sp
          spcomp -i ./ rrm_charge.sp
          spcomp -i ./ rrm_explode.sp
          spcomp -i ./ rrm_fire.sp
          spcomp -i ./ rrm_friendly.sp
          spcomp -i ./ rrm_jarate.sp
          spcomp -i ./ rrm_marked.sp
          spcomp -i ./ rrm_medieval.sp
          spcomp -i ./ rrm_milk.sp
          spcomp -i ./ rrm_powerup_agility.sp
          spcomp -i ./ rrm_powerup_haste.sp
          spcomp -i ./ rrm_powerup_plague.sp
          spcomp -i ./ rrm_powerup_precision.sp
          spcomp -i ./ rrm_powerup_resistance.sp
          spcomp -i ./ rrm_powerup_strength.sp
          spcomp -i ./ rrm_powerup_vampire.sp
          spcomp -i ./ rrm_resize.sp
          spcomp -i ./ rrm_skeletons.sp
          spcomp -i ./ rrm_stun.sp
          spcomp -i ./ rrm_taunt.sp