name: SourcePawn CI
on: [push]

jobs:
  ci:
    name: SourcePawn CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install SourceMod
        uses: KatsuteTF/Workflows/actions/setup-sourcepawn@main

      - name: Install TF2Attributes
        uses: KatsuteTF/Workflows/actions/curl@main
        with:
          url: https://raw.githubusercontent.com/FlaminSarge/tf2attributes/master/scripting/include/tf2attributes.inc
          file: addons/sourcemod/include/tf2attributes.inc

      - name: Install RRM
        uses: KatsuteTF/Workflows/actions/curl@main
        with:
          url: https://raw.githubusercontent.com/KatsuteTF/RRM/main/addons/sourcemod/include/rrm.inc
          file: rrm.inc

      - name: Compile Plugin
        run: |
          spcomp -i ./ rrm_bleed.sp
          spcomp -i ./ rrm_explode.sp
          spcomp -i ./ rrm_fire.sp
          spcomp -i ./ rrm_jarate.sp
          spcomp -i ./ rrm_marked.sp
          spcomp -i ./ rrm_medieval.sp
          spcomp -i ./ rrm_milked.sp
          spcomp -i ./ rrm_stun.sp
          spcomp -i ./ rrm_taunt.sp